body {
    font-family: "Edu SA Beginner", cursive;
  }
  #starter {
    background-color: rgb(0, 103, 7);
  }
  #content {
    background-color: #f50000;
  }
  body {
    font-size: large;
  }
  #table {
    background-color: #14ab00;
  }
  