body {
    font-family: "Edu SA Beginner", cursive;
  }
  #starter {
    background-color: aqua;
  }
  #content {
    background-color: #496ddb;
  }
 
  #table {
    background-color: #9883e5;
  }
  body {
    font-size: x-large;
  }
  body {
    
  }
